@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Roboto&display=swap');

.screen {
    width: 1366px;
    height: auto;
    margin: 0 auto;
    font-family: 'Roboto', 'Arial', sans-serif;
    background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), url(../../img/stup.png) no-repeat;
}

.block1 {
    perspective: 1px;
    transform-style: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    transform-style: preserve-3d;

}

.block2 {
    transform-style: inherit;

}

.block2::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform-origin: center;
    background-image: url(${bg});
    transform: translateZ(-1px);
}

.wer {
    flex-direction: column
}