@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Roboto&display=swap');

.screen {
    width: 1366px;
    height: auto;
    margin: 0 auto;
    font-family: 'Roboto', 'Arial', sans-serif;
    background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), url(../../img/ezgif_2.png) no-repeat;
}