.simple-box {
    position: relative;
    width: 428px;
    height: 268px;
    border-radius: 15px;
    box-shadow: 0px 15px 25px 2px rgba(0, 0, 0, 0.19);
    align-items: stretch;
    text-align: center;
    color: #fff;
}