.simple-box {
    align-items: stretch;
    width: 440px;
    height: 278px;
    position: relative;
    color: #fff;
    text-align: center;
}

.wer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}