.wrapper {
    position: relative;
    width: 20px;
    height: 20px;
}

.burger {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 3px;
    background: white;
}

.burger::before,
.burger::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
}

.burger::before {
    top: -6px;
}

.burger::after {
    bottom: -6px;
}